a {
    color: #070707;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #58d18d;
}

header{
    background-color: #3f3e3e;
    width: 100%;
    position: fixed  ;
    top: 0;
}

.links {
    padding: 0 100px;
    font-size: 20px;
    margin: 30px 0 ;
    display: flex;
    justify-content: space-between;
}

.nav_list{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav_list-item{
    padding: 5px 12px;
    border: 1px solid #070707;
    border-radius: 5px;
    background-color: #f5f5f5;

    list-style: none;
    text-align: center;

    cursor: pointer;
}

.nav_list-item:hover{
    background-color: #dddddd
}

.container{
    padding: 0 100px 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 100px;
}

#section-introducao {
    scroll-margin-top: 110px ;
    margin-top: 40px;
    border-bottom: 2px solid rgb(70, 70, 70);
    border-radius: 7px;
    background-color: rgba(75, 75, 75, 0.75);
    padding: 10px 30px 20px;
}

#section-problema {
    scroll-margin-top: 110px ;
    border-bottom: 2px solid  rgb(70, 70, 70);
    border-radius: 7px;
    background-color: rgba(75, 75, 75, 0.75);
    padding: 10px 30px 20px;
}

#section-entendimento {
    scroll-margin-top: 110px ;
    border-bottom: 2px solid  rgb(70, 70, 70);
    border-radius: 7px;
    background-color: rgba(75, 75, 75, 0.75);
    padding: 10px 30px 20px;
}

#section-solucao {
    scroll-margin-top: 110px ;
    border-bottom: 2px solid  rgb(70, 70, 70);
    border-radius: 7px;
    background-color: rgba(75, 75, 75, 0.75);
    padding: 10px 30px 20px;
}

#section-aplicacao {
    scroll-margin-top: 110px ;
    border-bottom: 2px solid  rgb(70, 70, 70);
    border-radius: 7px;
    background-color: rgba(75, 75, 75, 0.75);
    padding: 10px 30px 20px;
}

#section-comparacao {
    scroll-margin-top: 110px ;
    border-bottom: 2px solid  rgb(70, 70, 70);
    border-radius: 7px;
    background-color:rgba(75, 75, 75, 0.75);
    padding: 10px 30px 20px;
}

.list_problema{
    margin-bottom: 20px;
}

footer{
    background-color: rgb(101, 160, 119);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    padding: 20px 0;
}

form {
    background-color: rgba(75, 75, 75, 0.75);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;

    width: 100%;
    border-radius: 10px;

}

form > input, form > textarea {
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    outline: none;
    background: white ;
    font-size: 16px;
    color: black;

}

form > button {
    margin: 0 10px 0 10px    ;
    padding: 10px;
    background: orangered;
    color: white;
    font-size: 18px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    width: 150px;      
}

label{
    color: #070707;
}

input{
    border: 1px solid black;
    border-radius: 3px;
}

.modal_controler{
    position: fixed;
    left: 30%;
    top: 20%;
    border-radius: 10px;
    width: 40vw;
    
    padding: 15px 25px;
}

.modal_controler::backdrop {
    background-color: rgba(0, 0, 0, .6);
}

.modal_container{
}

.modal_open{
    color: #070707;

    padding: 5px 8px;
    border: 1px solid #070707;
    border-radius: 5px;
}

.modal_close{
    color: #070707;

    padding: 5px 8px;
    border: 1px solid #070707;
    border-radius: 5px;

    width: 30px;
    height: 30px;
}
