body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f3f3f3;
}

header{
    background-color: #13135f;

    width: 100vw;

    position: fixed  ;
    top: 0;
}

.links {
    padding: 0 6.25rem;
    margin: 1.875rem 0 ;

    width: 100%;

    display: flex;
    justify-content: space-between;
}

.nav_list{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.nav_list-item{
    border: 1px solid #13135f;

    list-style: none;
    text-align: center;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.nav_list-item:hover{
    border-bottom: 1px solid #fafafa;
}


.container{
    padding: 0 6.25rem 3.125rem;
    margin-top: 6.25rem;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.section_container {
    scroll-margin-top: 7rem ;

    padding: 20px 30px;

    display: flex;
}

.section_container > div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


#section-problema{
    align-items: center;
}

.div_problema{
    width: 50%;
}

.img_problema{
    width: 500px;
    height: 500px;

    border-radius: 18px;

    margin-left: 140px;
}

#section-entendimento{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10vw;
}

.div_entendimento{
    width: 50%;
}


.div_comparacao{
    width: 100%;
}

.div_comparacao-lists{
    display: flex;
    justify-content: space-between;

    margin-top: 15px;
}

.div_span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_span > span{
    font-size: 50px;
}

.list_problema{
    width: 35vw;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.list_solucao{
    width: 35vw;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
}


footer{
    background-color: rgb(150, 187, 173);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .9375rem;

    padding: 1.25rem 0;
}

form {
    background-color: rgba(75, 75, 75, 0.75);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;

    width: 100%;
    border-radius: 10px;

}

form > input, form > textarea {
    margin: .625rem;
    padding: 1.25rem;
    border-radius: .625rem;
    
    outline: none;
    font-size: 1rem;

    background: white ;
    color: black;
}

form > button {
    margin: 0 .625rem 0 .625rem;
    padding: .625rem;
    border-radius: 1.875rem;

    background: orangered;
    color: white;

    font-size: 1.125rem;

    outline: none;
    cursor: pointer;

    width: 9.375rem;      
}

.modal_controler{
    position: fixed;
    left: 30%;
    top: 20%;
    border-radius: .625rem;
    width: 40vw;
    
    padding: .9375rem 1.5625rem;
}

.modal_controler::backdrop {
    background-color: rgba(0, 0, 0, .6);
}

.modal_container{
}

.modal_open{
    color: #070707;

    padding: .3125rem .5rem;
    border-radius: .3125rem;
}

.modal_close{
    color: #070707;

    padding: .3125rem .5rem;
    border-radius: .3125rem;

    width: 1.875rem;
    height: 1.875rem;
}
