body{
    font-family: 'Rubik', sans-serif;
}

p{
    font-size: 26px;
    text-align: justify;
}

h1{
    font-size: 40px;
    margin-bottom: 12px;
    color: rgb(42, 41, 41);
}

.modal_container > h3 {
    color: rgb(42, 41, 41);
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 40px;
    margin-left: 10px;
}